.list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 50px;
    max-width: 800px; 
    margin: 20px auto; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    background-color: #f7f9fc; 
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.list-ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    margin: 0;
}

.list-li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.list-li:hover {
    transform: scale(1.02); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.listButton {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.button-div {
    display: inline;
    margin: 10px;
}

.green-button {
    background-color: #28a745; 
    color: white;
}

.green-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.red-button {
    background-color: #dc3545; 
    color: white;
}

.red-button:hover {
    background-color: #c82333; 
    transform: scale(1.05); 
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.edit-container select,
.edit-container input {
    margin: 10px;
}

input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.2s ease;
}

input:focus {
    border-color: #007bff; 
    outline: none; 
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }


  
  